{% extends 'base.html' %}
{% block nav %}
    <div class="">
        <div class=" purple"><div id="nav-bar" class="">
            
            <ul>
              <li>
                <a class='list-item' href='/'>
                  <i class='icon-archive'></i>
                </a>
              </li>
              <li>
                <button class="list-item" data-bs-toggle="modal" data-bs-target="#LogInModal">
                    <i class='icon-comment'></i>
                </button>
              </li>
              <li>
                <button class="list-item" data-bs-toggle="modal" data-bs-target="#exampleModal">
                    <i class='icon-sitemap'></i>
                </button>
              </li>
            </ul>
           </div></div></div>
    {% endblock nav %}